<div class="header container">
    <nav id="mynav" class="nav_bar">
        <div class="left_nav">
            <%= link_to "RD" , projects_path,class:"name-brand" %>
        </div>
        <div class="right_nav">
            <a href="#about">About</a>
            <a href="#projects">Projects</a>
            <a href="#contact">Contact</a>
        </div>
    </nav>

    <header>
        <h1>Hi , I'm Rida Nice to meet you</h1>
        <p> I'm a full-stack web developer, I can help you build your product, your feature or website, feel free to check my previous projects and if you are interested and want to work with me, feel free to contact me. </p>
        <a class="letcontact" href="#contact">LET'S CONNECT </p>
            <div class="links_contac">
                <a target="_blank" href="https://twitter.com/RElbahtouri"><i class="fab fa-twitter"></i></a>
                <a target="_blank" href="https://www.linkedin.com/in/rida-elbahtouri/"><i class="fab fa-linkedin-in"></i></a>
                <a target="_blank" href="elbahtouri0123@gmail.com"><i class="far fa-envelope"></i></a>
                <a target="_blank" href="https://github.com/rida-elbahtouri"><i class="fab fa-github"></i></a>
            </div>
    </header>
</div>
<div id="projects" class="projects container">
    <% @projects.each do |project| %>
    <div class="project container">
        <div class="img_side">
            <img class="project-img" src=<%= project.img%> />
        </div>
        <div class="info_side">
            <h2><%= project.name%></h2>
            <p class="project_desc"><%= project.content%></p>
            <p class="project_techs">
            <% project.techs.split(',', -1).each do |skill| %>
                <span class="skillsused"> <%= skill %> </span>
            <% end %>
    
            </p>
            <a target="_blank" href=<%= project.repo %>><i class="fab fa-github"></i><span class="links">Project repo</span> </a>
            <a target="_blank" href=<%= project.live_version %>><i class="fas fa-link"><span class="links"></i>Live version</span></a>
        </div>
    </div>
    <% end %>
</div>

<div id="about" class="about container">
    <div class="myinfo container">
        <h1>About me</h1>
        <p>hi,I’m <span class="bold">Rida El bahtouri</span> I'm a Full-stack developer and I'm passionate about creating and developing new web apps, I like programming and I enjoy solving tricky problems.
            As a full-stack web developer, I am continuing to learn new programming languages and frameworks, and I also enjoy learning about new things like Game developments or Machine learning.</p>
        <a target="_blank" href="https://docs.google.com/document/d/1ZpoAM-Dar5tXn1CPLdRM5W2h9LodazDp_dIoWxUk444/edit?usp=sharing">See my resume</a>
    </div>
    <div class="myskills container">
        <h1>Technology</h1>
        <span id="showfrontskill" class="skill_title bold"> Front-End: <i id='0' class="fas fa-chevron-right"></i></span>
        <p id="frontskills" class="none">  JavaScript, React, Redux, jQuery, HTML5, CSS3</p>
        <span id="showbackendskill" class="skill_title bold"> Back-End: <i id='1' class="fas fa-chevron-right"></i></span>
        <p id="backendskills" class="none">  Ruby, Rails, PostgreSQL ,Rspec ,Capybara, Selenium, Python, Django</p>
        <span id="showotherskill" class="skill_title bold"> Skills: <i id='2' class="fas fa-chevron-right"></i></span> 
        <p id="otherskills" class="none"> Git, GitHub, Heroku, Netlify, Mobile/Responsive Development, RSpec, TDD, Chrome Dev Tools</p>
    </div>
</div>

<div class="contact" id="contact">
    <%= form_for @email, :html => {:class => 'contact_form'} do |f| %>
    <%= f.label :name, "Name" %> <br>
    <%= f.text_field :name ,class:"input" %><br>
    <%= f.label :emil, "Your email" %> <br>
    <%= f.text_field :email,class:"input" %><br>
    <%= f.label :message, "Message" %> <br>
    <%= f.text_area :message, placeholder: "write your message here ..." %><br>
    <%= f.submit "Send"%>
    <% end %>
</div>

<% javascript_path 'showandhide' %>